# By convention, I will name all of my executables "exe".
# This way, they can be ignored and NOT committed.
**/exe
**/*.exe

# Wow, I must have been tired when I tried to ignore the Linked List assignment
# because I got the path entirely wrong.
